<div ng-controller="CarouselDemoCtrl">
    <div style="height: 305px">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <!--<div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                    <p>{{slide.text}}</p>
                </div>-->
            </slide>
        </carousel>
    </div>
</div>

<div>
    <div>
        <br />
        <a href="https://www.facebook.com/manojkrbisht" target="_blank"><img src="img/facebook.ico" style="width:20px; height:20px" /></a>
        <a href="https://in.linkedin.com/in/manojkrbisht" target="_blank"><img src="img/linked_in.ico" style="width:20px; height:20px" /></a>
        <a href="https://twitter.com/ManojKrBisht" target="_blank"><img src="img/twitter.ico" style="width:20px; height:20px" /></a>
        <h2>My Dear World</h2>
        <p>I am Manoj Bisht living in India. Born and brought up in Delhi with my roots belonging to the hills of Kumaon. I did my bachelors and masters from Delhi University in Statistics and currently working as a Software Architect.</p>
        <h3>FIVE things that defines me</h3>
        <p><b>Thinker</b></p>
        <p>Thinking fascinates me since childhood and that’s the thing I do quite a lot whenever I am free. I just think-think and generate ideas. I follow quite many of them and planned to follow rest in coming years of my life.</p>
        <p><b>Technology</b></p>
        <p>Technology is my passion. I love to dig deep into technology areas. Being a coder is my job and I have contributed immensely on multiple software projects which have added great value to business and human lives. I am a trusted and respected professional giving very high value to integrity, commitment and purpose.</p>
        <p><b>Sportsman</b></p>
        <p>Always being a good sportsman; I am an active member of my company’s cricket team. We have a group of friends who does not like to miss a single Saturday of our Saturday morning cricket. Sometimes, I play badminton, table tennis, bowling, pool and chess. I was one of the winners in company bowling twice. I captained my college chess team and did very well in university level; got a college color as well. I am regular morning walker and covers couple of miles everyday.</p>
        <p><b>Coach and Student</b></p>
        <p>I love to guide people and learn from them. I am a positive person and always focus on solutions than discuss problems. I am a firm believer of the fact that “whatever may be the circumstances; a person can get out of a problem and do better with just a positive attitude”. I have mentored and learned from several people in my life both technically and non-technically. I will continue to do that with a belief that myself and others have benefitted from it to be a better person and professional.</p>
        <p><b>Traveler</b></p>
        <p>Quite often, I just take my car and visit hills around Delhi; enjoying the ride with my wife. We have travelled together and visited dozens of places in North India. I have also travelled to South Africa, US (NJ, NY, CA, Nevada), Singapore, Hong Kong, Macau, Malaysia, Portugal, Switzerland and UK for business and leisure.</p>
    </div>
</div>
